{% extends "budgeting/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h3>Log in to your account</h3>

{% if form.errors %}
    <p>Your username and password did not match. Please try again</p>
{% endif %}

<form class="form" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-primary btn-sm" name="submit">Log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'budgeting:budgets' %}"/>
</form>

<a href="{% url 'users:password_reset' %}">Forgot password?</a>

{% endblock content %}