{% extends 'budgeting/base.html' %}
{% load bootstrap4 %}

{% block content %}

{% if validlink %}
    <h3>Change Password</h3>
    <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Change Password</button>
        {% endbuttons %}
    </form>
{% else %}
    <p>The password reset link is invalid, possibly because it was already used. Please request a new password reset.</p>
{% endif %}

{% endblock content %}