{% extends "budgeting/base.html" %}
{% block content %}

<h3 class="alert alert-danger">Delete Confirmation</h3>
<p>Are you sure you want to delete {{ income_item }}?</p>

<form action="{% url 'budgeting:delete_income_item' income_item.id %}" method='post'>
    {% csrf_token %}
    <a href="{% url 'budgeting:detailed_income_category' income_category.id %}" class="btn btn-info">Keep {{ income_item }}</a>
    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>

{% endblock content %}