{% extends "budgeting/base.html" %}
{% block content %}

<div>
    <h3>{{expense_category}}</h3>
    <h6>of <a href="{% url 'budgeting:detailed_budget' budget.id %}">{{ budget }}</a></h6>
    <p>
        <a class="btn btn-warning btn-sm" href="{% url 'budgeting:new_expense_item' expense_category.id %}">Add Expense Item</a>
    </p>
</div>

<div class="table-responsive">
    <table class="table">
        <thead class="alert-danger">
            <tr>
                <th>Expense</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for expense_item in expense_items %}
            <tr>
                <th>{{ expense_item }}</th>
                <th>{{ expense_item.amount | floatformat:2 }}</th>
                <th>{{ expense_item.date | date:'M d, Y'  }}</th>
                <th>{{ expense_item.description }}</th>
                <th>
                    <a class="btn btn-info btn-sm" href="{% url 'budgeting:edit_expense_item' expense_item.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'budgeting:delete_expense_item' expense_item.id %}">Delete</a>
                </th>
                
            </tr>
            {% empty %}
            <tr>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="text-center">
    <p>
        <a class="btn btn-info btn-sm" href="{% url 'budgeting:edit_expense_category' expense_category.id %}">Edit {{ expense_category }}</a>
        <a class="btn btn-danger btn-sm" href="{% url 'budgeting:delete_expense_category' expense_category.id %}">Delete {{ expense_category }}</a>
    </p>
    <p><a href="{% url 'budgeting:detailed_budget' budget.id %}">Back to {{ budget }}</a></p>
</div>
{% endblock content %}