{% extends "budgeting/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h3>Add a new Income Item for <a href="{% url 'budgeting:detailed_income_category' income_category.id %}">{{ income_category }}</a><p>for <a href="{% url 'budgeting:detailed_budget' budget.id %}">{{ budget }}</a></p></h3>

<form class="form" action="{% url 'budgeting:new_income_item' income_category.id %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button class="btn btn-primary btn-sm" name="submit">Add Income Item</button>
    {% endbuttons %}
</form>
<p><a href="{% url 'budgeting:detailed_income_category' income_category.id %}">Return to {{ income_category }}</a></p>

{% endblock content %}